<div class="dashboard-container">
  <div class="dashboard-card">
    <h1 class="dashboard-title">Crear nuevo encargado</h1>

    <form (ngSubmit)="guardar()" name="crearForm">

      <label>RUT:
        <input type="text" [(ngModel)]="encargado.RutEncargado" name="rut" required>
      </label>

      <label>Nombre:
        <input type="text" [(ngModel)]="encargado.Nombre" name="nombre" required>
      </label>

      <label>Apellido:
        <input type="text" [(ngModel)]="encargado.Apellido" name="apellido" required>
      </label>

      <label>Correo:
        <input type="email" [(ngModel)]="encargado.Correo" name="correo" required>
      </label>

      <label>Teléfono:
        <input type="text" [(ngModel)]="encargado.Telefono" name="telefono" required>
      </label>

    <div class="toolbar" style="justify-content:flex-end; margin-top:20px;">
        <button type="submit">Guardar</button>
        <button class="crear-btn" type="button" (click)="cancelar()" style="background:#9e9e9e">
        Cancelar
        </button>
    </div>
    </form>
  </div>
</div>
