<div class="dashboard-container">
  <div class="dashboard-card">

    <h1 class="dashboard-title">Gestión de Eventos de Horas Sello</h1>

    <div class="toolbar">
      <h2>Todos los eventos</h2>
      <button class="crear-btn" (click)="irACrear()">Crear evento</button>
    </div>

    <table class="eventos-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Rut Encargado</th>
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Público</th>
          <th>Horas</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of events">
          <td>{{ e.id }}</td>
          <td>{{ e.Nombre }}</td>
          <td>{{ e.Descripcion }}</td>
          <td>{{ e.RutEncargado }}</td>
          <td>{{ e.Fecha | date:'short' }}</td>
          <td>{{ e.Tipo ? 'Abierto' : 'Cerrado' }}</td>
          <td>{{ e.Publico ? 'Universidad' : 'Carrera' }}</td>
          <td>{{ e.CantidadHoras }}</td>
          <td>
            <input type="checkbox" [checked]="e.Estado" (change)="toggleEstado(e)">
          </td>
          <td>
            <button (click)="irAEditar(e.id)">Editar</button>
            <button (click)="irAEliminar(e.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>