<div class="login-wrapper">
  <div class="login-card">
    <h2>Consulta de Horas Sello</h2>

    <label for="rut">Ingresa tu RUT:</label>
    <input
      id="rut"
      type="text"
      placeholder="Ej: 12345678-9"
      [(ngModel)]="rut"
      (keydown.enter)="irAHorasSello()"
      autocomplete="off"
      class="full-width-input"
      autofocus
    />

    <div *ngIf="errorRut" style="color: red; margin-top: 8px;">{{ errorRut }}</div>

    <button class="full-width-button" (click)="irAHorasSello()">Consultar</button>

    <button class="full-width-button back-button" (click)="volverInicio()">Volver al Inicio</button>
  </div>
</div>
