<form (ngSubmit)="irAHorasSello()" class="login-wrapper">
  <div class="login-card">
    <h2>Consulta de Horas Sello</h2>

    <label for="rut">Ingresa tu RUT:</label>
    <input
      id="rut"
      name="rut"
      type="text"
      [(ngModel)]="rut"
      pattern="^\d{7,8}[\dkK]$"
      required
      placeholder="Ej: 21571489K (sin puntos ni guion)"
      class="full-width-input"
      autocomplete="off"
      autofocus
    />

    <div *ngIf="errorRut" style="color:red; margin-top: 8px;">
      {{ errorRut }}
    </div>

    <button type="submit" class="full-width-button">Consultar</button>
    <button type="button" class="full-width-button back-button" (click)="volverInicio()">Volver al Inicio</button>
  </div>
</form>
