<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [(opened)]="opened" class="sidenav">
    <mat-toolbar color="primary">Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/evento" routerLinkActive="active-link">Eventos</a>
      <a mat-list-item routerLink="/admin/alumnos" routerLinkActive="active-link">Alumno</a>
      <a mat-list-item routerLink="/admin/administrativos" routerLinkActive="active-link">Administradores</a>
      <a mat-list-item routerLink="/admin/encargados" routerLinkActive="active-link">Encargado</a>
      <a mat-list-item routerLink="#" routerLinkActive="active-link">Registro de Horas</a>
      <a mat-list-item routerLink="#" routerLinkActive="active-link">Evento</a>
    </mat-nav-list>
  </mat-sidenav>
RegistroHoras
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Gestión Horas Sello</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>